@model QLDKMH_CNPM.Models.PHIEU_DKHP

@{ 
    ViewBag.Title = "Details_2";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml"; 
}

<h3 class="mb-1 text-left text-danger controllerStyle">CHI TIẾT PHIẾU ĐKHP</h3>
<hr />
<table class="table table-borderless generalStyle" style="color: black;">
    <tr>
        <td>
            <span>Số phiếu: </span>
            @Html.DisplayFor(model => model.SoPhieuDKHP)
        </td>
        <td>
            <span>Ngày lập: </span>
            @Html.DisplayFor(model => model.NgayLap.Day)/@Html.DisplayFor(model => model.NgayLap.Month)/@Html.DisplayFor(model => model.NgayLap.Year)
        </td>
    </tr>
    <tr>
        <td>
            <span>MSSV: </span>
            @Html.DisplayFor(model => model.MaSV)
        </td>
    </tr>
    <tr>
        <td>
            <span>Học kỳ: </span>
            @Html.DisplayFor(model => model.HKNH.HocKy)
        </td>
        <td>
            <span>Năm học: </span>
            @Html.DisplayFor(model => model.HKNH.Nam1) - @Html.DisplayFor(model => model.HKNH.Nam2)
        </td>
    </tr>
    <tr>
        <td>
            <span>Tổng số tín chỉ lý thuyết: </span>
            @Html.DisplayFor(model => model.TongTCLT)
        </td>
        <td>
            <span>Tổng số tín chỉ thực hành: </span>
            @Html.DisplayFor(model => model.TongTCTH)
        </td>
    </tr>
</table>
<h7 class="text-left text-danger generalStyle" style="font-weight:500">LỚP HỌC ĐÃ ĐĂNG KÝ</h7>
<div class="bg-light card generalStyle">
    <div class="mt-0 py-2">
        <!--<span>
            @Html.ActionLink("Đăng ký thêm lớp học", "Create", "CT_PHIEU_DKHP", new { area = "PDT", id = Model.SoPhieuDKHP, HKNH = Model.MaHKNH }, new { @class = "btn btn-primary btnStyle" })
        </span>
        <span style="float:right">-->
        @* Nếu chưa đăng kí môn nào thì sẽ ẩn nút xóa. *@
        <!--@if (Model.TongTCLT != 0 || Model.TongTCTH != 0)
            {
                @Html.ActionLink("Xóa lớp học đã đăng ký", "Delete", "CT_Phieu_DKHP", new { area = "PDT", id = Model.SoPhieuDKHP }, new { @class = "btn btn-primary btnStyle" })
            }
        </span>-->
    </div>
    <div id="dataTable_wrapper" class="dataTables_wrapper pre-scrollable card-body m-1 p-1" style="background-color: white;">
        <div>
            <div id="dataTable_wrapper">
                <!--id = dataTable shows number of entries; sort and search function-->
                <table class="table table-bordered dataTable dataStyle" id="dataTable">
                    <thead>
                        <tr>
                            <th>Mã lớp học mở</th>
                            <th>Mã môn học</th>
                            <th>Tên môn học</th>
                            <th>Loại môn học</th>
                            <th>Số tiết </th>
                            <th>Số tín chỉ</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Mã lớp học mở</th>
                            <th>Mã môn học</th>
                            <th>Tên môn học</th>
                            <th>Loại môn học</th>
                            <th>Số tiết</th>
                            <th>Số tín chỉ </th>
                        </tr>
                    </tfoot>

                    @foreach (var item in ViewBag.CT_PHIEU_DKHPandDS_MONHOC_MO)
                    {
                        <tr>
                     <td style="vertical-align:middle;">
                                @item.DS_MONHOC_MO.MaMo
                            </td>
                            <td style="vertical-align:middle;">
                                @item.DS_MONHOC_MO.MaMonHoc
                            </td>
                            <td style="vertical-align:middle;">
                                @item.DS_MONHOC_MO.MONHOC.TenMonHoc
                            </td>
                            <td style="vertical-align:middle;">
                                @item.DS_MONHOC_MO.MONHOC.LOAIMONHOC.TenLoaiMon
                            </td>
                            <td style="vertical-align:middle;">
                                @item.DS_MONHOC_MO.MONHOC.SoTiet
                            </td>
                            <td style="vertical-align:middle;">
                                @item.DS_MONHOC_MO.MONHOC.SoTinChi
                            </td>
                        </tr>}
                </table>
            </div>
        </div>
    </div>
    <hr />
</div>
@Html.ActionLink("Quay lại", "TraCuu", new { SoPhieuDKHP = ViewBag.SoPhieuDKHP, MSSV = ViewBag.MSSV, MHKNH = ViewBag.MHKNH, Day = ViewBag.Day, Month = ViewBag.Month, Year = ViewBag.Year, TinhTrang = ViewBag.TinhTrang }, new { @class = "btn btn-primary btnStyle generalStyle" })