<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trang chủ sinh viên | Quản lý đăng ký môn học và thu học phí</title>

    <!-- Custom fonts for this template-->
    <link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Assets/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/Assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link href="~/Assets/css/AdminCSS.css" rel="stylesheet" />

    <style>
        .non-interactive {
            pointer-events: none;
        }
    </style>
</head>

<body id="page-top" class="w3-sidebar">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <li class="sidebar-brand-icon non-interactive my-1" href="@Url.Action("SVHome", "SV", new {TenDangNhap = ViewData["TenDangNhap"]})">
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("SVHome","SV") ">
                    <img id="img_logo" alt="UIT" style="width: 80px; height: 70px" src="@Url.Content("~/Content/img/uit_logo_removebg.png")" />
                    <h5 style="margin-top: 5px; color: black; font-weight: bolder; font-family: Calibri, sans-serif;" class="embed-responsive">Nhập Môn Công Nghệ Phần Mềm</h5>
                </a>
            </li>

            <!-- Divider -->
            <li><hr class="sidebar-divider py-0 my-0"></li>


            <li class="nav-item">
                <a class="nav-link m-1 py-0 justify-content-center align-content-center align-items-center d-flex" href="@Url.Action("SVHome", "SV", new {TenDangNhap = ViewData["TenDangNhap"]})">
                    <img id="img_logo" alt="SVHome" width="25" height="25" src="@Url.Content("~/Content/img/home.png")" />
                </a>
            </li>
            <!--Divider-->
            <li>
                <hr class="sidebar-divider my-0" />
            </li>

            <!-- Heading -->
            <li class="sidebar-heading active bg-gradient-light my-1" style="color: black; font-size: 12px">THÔNG TIN</li>

            <li class="nav-item active zoom generalStyle sidebarSize" style="border-top: solid black 1px">
                <a class="nav-link" href="#">Thông báo</a>
            </li>

            <li class="nav-item active zoom generalStyle sidebarSize">
                <a class="nav-link" href="#">Sự kiện - Tin tức</a>
            </li>

            <li class="nav-item active zoom generalStyle sidebarSize">
                <a class="nav-link" href="#">Kế hoạch năm</a>
            </li>
            <li class="nav-item active zoom generalStyle sidebarSize">
                <a class="nav-link" href="#">Quy định - Hướng dẫn</a>
            </li>
            <li class="nav-item active zoom generalStyle sidebarSize">
                <a class="nav-link" href="@Url.Action("Details", "SINHVIENs", new { id = ViewData["TenDangNhap"]})">Lý lịch sinh viên</a>
            </li>

            <li class="nav-item active zoom generalStyle sidebarSize">
                <a class="nav-link" href="@Url.Action("Index", "CHUONGTRINHHOCs", new { id = ViewData["TenDangNhap"]})">Chương trình học</a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
                <div class="collapsed zoom" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    <a class="nav-link generalStyle sidebarSize" href="#">Đăng ký học phần</a>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="collapse-inner rounded py-0">
                        <a class="collapse-item zoom generalStyle sidebarSize bg-gradient-primary m-0" style="color: white; width: fit-content" href="@Url.Action("Index", "DS_MONHOC_MOs", new { id = ViewData["TenDangNhap"] })">Danh sách môn học mở</a>
                        <a class="collapse-item zoom generalStyle sidebarSize bg-gradient-primary m-0" style="color: white; width: fit-content" href="@Url.Action("Create", "PHIEU_DKHP", new { id_sv = ViewData["TenDangNhap"]})">Đăng ký học phần</a>
                        <a class="collapse-item zoom generalStyle sidebarSize bg-gradient-primary m-0" style="color: white; width: fit-content" href="@Url.Action("Index", "PHIEU_DKHP", new { id = ViewData["TenDangNhap"]})">Tra cứu thông tin ĐKHP</a>
                    </div>
                </div>
            </li>

            <li class="nav-item active zoom generalStyle sidebarSize">
                <a class="nav-link" href="@Url.Action("Index", "PHIEUTHUs", new { id = ViewData["TenDangNhap"] })">Thông tin phiếu thu</a>
            </li>

            <li class="nav-item active generalStyle sidebarSize zoom" data-toggle="modal" data-target="#logoutModal">
                <a class="nav-link" href="#">Đăng xuất</a>
            </li>

            <li class="text-center d-none d-md-inline">
                <button id="sidebarToggle" class="rounded-circle border-warning bg-gradient-primary zoom"></button>
            </li>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->

        <div id="content-wrapper" class="d-flex flex-column" style="position:relative;">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small generalStyle sidebarSize" placeholder="Tìm kiếm..." aria-label="search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>


                </nav>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto generalStyle sidebarSize">
                        <span>Quản lý đăng ký môn học và thu học phí - Nhập môn Công nghệ Phần mềm</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>

    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title generalStyle" style="font-family: Arial, 'Segoe UI', sans-serif; color: black; font-weight:bold;" id="exampleModalLabel">Đăng xuất</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body generalStyle" style="font-family:Arial, 'Segoe UI', sans-serif; color: black">Bạn có thật sự muốn "Đăng xuất" ?</div>
                <div class="modal-footer">
                    <a class="btn btn-danger" style="font-family: Arial, 'Segoe UI', sans-serif;" href="login.html">Đăng xuất</a>
                    <button class="btn btn-primary" style="font-family: Arial, 'Segoe UI', sans-serif;" type="button" data-dismiss="modal">Hủy</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Assets/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Assets/js/demo/datatables-demo.js"></script>

</body>

</html>
