@model QLDKMH_CNPM.Models.MONHOC

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MONHOC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LOAIMONHOC.TenLoaiMon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIMONHOC.TenLoaiMon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenMonHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMonHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTiet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTinChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTinChi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaMonHoc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
