@model QLDKMH_CNPM.Models.MONHOC

@{ ViewBag.Title = "Create";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml"; }

<h3 class="text-left text-danger controllerStyle">THÊM MỚI THÔNG TIN MÔN HỌC</h3>
<hr />
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                <div class="form-horizontal generalStyle" style="color: black;">
                    <div class="form-group">
                        <div class="control-label">Mã môn học</div>
                        <div>
                            @Html.EditorFor(model => model.MaMonHoc, new { htmlAttributes = new { @id = "MaMonHoc", @onblur = "inputValidation1(this)", @maxlength = "7", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaMonHoc, "", new { @class = "text-danger" })
                        </div>
                        <div id="textField1"></div>
                    </div>

                    <div class="form-group">
                        <div class="control-label">Tên môn học</div>
                        <div>
                            @Html.EditorFor(model => model.TenMonHoc, new { htmlAttributes = new { @id = "TenMonHoc", @onblur = "inputValidation2(this)", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenMonHoc, "", new { @class = "text-danger" })
                        </div>
                        <div id="textField2"></div>
                    </div>

                    <div class="form-group">
                        <div class="control-label">Loại môn học</div>
                        <div>
                            @Html.DropDownList("MaLoaiMon", null, "--Chọn loại môn học--", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LOAIMONHOC.TenLoaiMon, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label">Số tiết</div>
                        <div>
                            @Html.EditorFor(model => model.SoTiet, new { htmlAttributes = new { @id = "SoTiet", @onblur = "inputValidation3(this)", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SoTiet, "", new { @class = "text-danger" })
                        </div>
                        <div id="textField3"></div>
                    </div>

                    <hr />
                    <div class="form-group">
                        <div>
                            <input id="submit" type="submit" value="Thêm mới" disabled class="btn btn-primary btnStyle" />
                            <input type="button" value="Quay lại" class="btn btn-primary generalStyle btnStyle" data-toggle="modal" data-target="#AlertModal1" />
                        </div>
                    </div>
                </div>}


<!--Cảnh báo thoát chưa lưu-->
<div class="modal fade" id="AlertModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title generalStyle" style="color:black; font-weight:700;" id="exampleModalLabel2">Thông báo</h5>
                <button class="close ge" type="button" data-dismiss="modal" aria-label="Close">
                    <span class="generalStyle" aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body generalStyle" style="color: black;">Thoát khi chưa thêm mới?</div>
            <div class="modal-footer generalStyle">
                <a class="btn btn-danger btnStyle" href="@Url.Action("Index", "MONHOCs", new { area = "PDT" })">Đồng ý</a>
                <button class="btn btn-primary btnStyle" type="button" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (ViewBag.code == 1)
{
    <script type="text/javascript">
        swal({
            icon: 'error',
            title: 'Không thể thêm',
            text: 'Không thể thêm môn học này vì mã môn học này đã tồn tại !!!',
        })
    </script>
}
@if (ViewBag.code == 2)
{
    <script type="text/javascript">
        swal({
            icon: 'error',
            title: 'Không thể thêm',
            text: 'Không thể thêm môn học này vì số tiết môn học không chia hết cho số tiết một tín chỉ !!!',
        })
    </script>
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script type="text/javascript">
    //function để validation mã môn học
    //Ở mỗi validation có thêm hàm dùng để disabled submit khi người dùng nhập sai
    function inputValidation1(inputTxt) {
        var regx = /^[0-9A-Z]+$/;
        var textField = document.getElementById("textField1");
        if (inputTxt.value != '') {
            if (inputTxt.value.length == 7) {
                if (inputTxt.value.match(regx)) {
                    textField.textContent = '';
                    textField.style.color = 'green';
                } else {
                    textField.textContent = '*Vui lòng chỉ nhập ký tự số và kí tự in hoa';
                    textField.style.color = 'red';
                    $('#submit').attr('disabled', true);
                }
            } else {
                textField.textContent = '*Mã môn học phải có đủ 7 ký tự';
                textField.style.color = 'red';
                $('#submit').attr('disabled', true);
            }
        }
        else {
            textField.textContent = '*Vui lòng nhập Mã môn học';
            textField.style.color = 'red';
        }
    }
    //function để validation label tên môn học
    function inputValidation2(inputTxt) {
        var regx = /^[aAàÀảẢãÃáÁạẠăĂằẰẳẲẵẴắẮặẶâÂầẦẩẨẫẪấẤậẬbBcCdDđĐeEèÈẻẺẽẼéÉẹẸêÊềỀểỂễỄếẾệỆfFgGhHiIìÌỉỈĩĨíÍịỊjJkKlLmMnNoOòÒỏỎõÕóÓọỌôÔồỒổỔỗỖốỐộỘơƠờỜởỞỡỠớỚợỢpPqQrRsStTuUùÙủỦũŨúÚụỤưƯừỪửỬữỮứỨựỰvVwWxXyYỳỲỷỶỹỸýÝỵỴzZ ]+$/;
        var textField = document.getElementById("textField2");
        if (inputTxt.value != '') {
            if (inputTxt.value.match(regx)) {
                textField.textContent = '';
                textField.style.color = 'green';
            } else {
                textField.textContent = '*Vui lòng chỉ nhập các ký tự là tiếng việt và khoảng trắng';
                textField.style.color = 'red';
                $('#submit').attr('disabled', true);
            }
        }
        else {
            textField.textContent = '*Vui lòng nhập tên môn học';
            textField.style.color = 'red';
        }
    }
    //function để validation label số tiết
    function inputValidation3(inputTxt) {
        var regx = /^[0-9]+$/;
        var textField = document.getElementById("textField3");
        if (inputTxt.value != '') {
            if (inputTxt.value.match(regx) && (inputTxt.value != 0)) {
                textField.textContent = '';
                textField.style.color = 'green';
            } else {
                textField.textContent = '*Vui lòng chỉ nhập số dương';
                textField.style.color = 'red';
                $('#submit').attr('disabled', true);
            }
        }
        else {
            textField.textContent = '*Vui lòng nhập số tiết';
            textField.style.color = 'red';
        }
    }
    //function để disable/able button submit
    $(function () {
        $('#submit').attr('disabled', true);
        $('#SoTiet, #MaMonHoc, #TenMonHoc, #MaLoaiMon').change(function () {
            if ($('#MaMonHoc').val() != '') {
                if ($('#TenMonHoc').val() != '') {
                    if ($('#MaLoaiMon').val() != '') {
                        if ($('#SoTiet').val() != '') {
                            $('#submit').attr('disabled', false);
                        } else {
                            $('#submit').attr('disabled', true);
                        }
                    } else {
                        $('#submit').attr('disabled', true);
                    }
                } else {
                    $('#submit').attr('disabled', true);
                }
            } else {
                $('#submit').attr('disabled', true);
            }
        });
    });
</script>
