@model IEnumerable<QLDKMH_CNPM.Models.MONHOC>

@{ ViewBag.Title = "Index";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml"; }

<link href="~/Assets/css/UploadFile.css" rel="stylesheet" type="text/css" />

<!--Page Heading-->
<h3 class="mb-1 text-danger controllerStyle">DANH SÁCH MÔN HỌC</h3>
<hr class="mb-0" />

@using (Html.BeginForm("Upload", "MONHOCs", "Index", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<a class="generalStyle" style="color:black"><strong>Tải lên file Excel danh sách môn học</strong></a>
                <a class="form-group">
                    <div class="upload">
                        <input type="button" class="uploadButton btnStyle generalStyle" value="Chọn đường dẫn" />
                        <input type="file" name="UploadedFile" accept="/.xls, .xlsx" id="fileUpload" />
                        <label class="fileName" style="width:auto; ">Đường dẫn file Excel...</label>
                    </div>
                    <input type="submit" name="Submit" class="btn btn-primary btnStyle generalStyle" value="Tải lên" />
                </a>}
<a class="generalStyle" style="color:black"><strong>Tải xuống file Excel danh sách môn học</strong></a>
<a>
    @Html.ActionLink("Tải xuống", "ExportToExcel", null, new { @class = "btn btn-primary btnStyle generalStyle" })
</a>

<!--DataTable Showing-->
<!--Thêm class="card" để scroll nội dung mà không scroll sidebar-->
<div class="bg-light card generalStyle">
    <div class="py-2 m-0">
        <span>
            @Html.ActionLink("Thêm môn học", "Create", null, new { @class = "btn btn-primary btnStyle" })
        </span>
        <span style="float: right">
            @Html.ActionLink("Quản lý loại môn học", "Index", "LOAIMONHOCs", null, new { @class = "btn btn-primary btnStyle" })
        </span>
    </div>

    <div id="dataTable_wrapper" class="dataTables_wrapper pre-scrollable card-body m-1 p-1 " style="background-color: white;">
        <div>
            <div id="dataTable_wrapper">
                <!--id = dataTable shows number of entries; sort and search function-->
                <table class="table table-bordered dataStyle" id="dataTable">
                    <thead>
                        <tr>
                            <th width="20%">Mã môn học</th>
                            <th width="35%">Tên môn học</th>
                            <th width="30%">Tên loại môn học</th>
                            <th width="20%">Số tín chỉ</th>
                            <th style="text-align:center;">Thao tác</th>
                        </tr>
                    </thead>
                    <!--This is for footer line-->
                    <tfoot>
                        <tr>
                            <th>Mã môn học</th>
                            <th>Tên môn học</th>
                            <th>Tên loại môn học</th>
                            <th>Số tín chỉ</th>
                            <th></th>
                        </tr>
                    </tfoot>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="vertical-align:middle;">
                                @Html.DisplayFor(model => item.MaMonHoc)
                            </td>
                            <td style="vertical-align:middle;">
                                @Html.DisplayFor(modelItem => item.TenMonHoc)
                            </td>
                            <td style="vertical-align:middle;">
                                @Html.DisplayFor(modelItem => item.LOAIMONHOC.TenLoaiMon)
                            </td>
                            <td style="vertical-align:middle;">
                                @Html.DisplayFor(modelItem => item.SoTinChi)
                            </td>
                            <td style="vertical-align:middle;">
                                <!--EFFECT 1: line with blue-->

                                <div class="container">
                                    <div class="dropdown nav-item">
                                        <button type="button" class="btn btn-outline-danger dropdown-toggle alert-primary" style="font-weight:500; font-size:small;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Tùy chọn
                                        </button>
                                        <div class="dropdown-menu" style="text-align: center;" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="@Url.Action("Details", "MONHOCs", new {area ="PDT", id = item.MaMonHoc})">Xem thông tin</a>
                                            <a class="dropdown-item" href="@Url.Action("Edit", "MONHOCs", new {area ="PDT", id = item.MaMonHoc})">Sửa thông tin</a>
                                            <a class="dropdown-item" href="@Url.Action("Delete", "MONHOCs", new {area ="PDT", id = item.MaMonHoc})">Xóa thông tin</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>}
                </table>
            </div>
        </div>
    </div>

</div>

@*Js để hỗ trợ upload file Excel*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $('input[type=file]').change(function (e) {
        $in = $(this);
        $in.next().html($in.val());
    });
    $('.uploadButton').click(function () {
        var fileName = $(".UploadedFile").val();
        if (fileName) {
            alert(fileName + " có thể tải lên.");
        }
        else {
            alert("Vui lòng chọn file Excel để tải lên");
        }
    });
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (ViewBag.code == 1)
{
<script type="text/javascript">
    swal({
        icon: 'error',
        title: 'Không thể xóa',
        text: 'Không thể xóa môn học này vì môn học này đang nằm trong CHƯƠNG TRÌNH HỌC của một ngành nào đó !!!',
    })
</script>}
@if (ViewBag.code == 2)
{
<script type="text/javascript">
    swal({
        icon: 'error',
        title: 'Không thể xóa',
        text: 'Không thể xóa môn học này vì môn học này đang nằm trong DANH SÁCH MÔN HỌC MỞ của một học kỳ nào đó !!!',
    })
</script>}
@if (ViewBag.code == 10)
{
<script type="text/javascript">
    swal("Đã thêm môn học thành công", "", "success");
</script>}
@if (ViewBag.code == 11)
{
<script type="text/javascript">
    swal("Đã xóa môn học thành công", "", "success");
</script>}
@if (ViewBag.code == 12)
{
<script type="text/javascript">
    swal("Đã sửa thông tin môn học thành công", "", "success");
</script>}