@model QLDKMH_CNPM.Models.PHIEU_DKHP

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/SV/Views/Shared/SVLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PHIEU_DKHP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HKNH.MaHKNH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HKNH.MaHKNH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SINHVIEN.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SINHVIEN.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTCLT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTCLT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTCTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTCTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTienDangKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTienDangKy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTienPhaiDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTienPhaiDong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTienDaDong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTienDaDong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTienConLai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTienConLai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
