@model QLDKMH_CNPM.Models.DS_MONHOC_MO

@{ ViewBag.Title = "Create";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml"; 
}

<h3 class="text-left text-danger controllerStyle">THÊM MÔN HỌC MỞ</h3>

<h4 class="text-left text-danger controllerStyle">
    Học kỳ: @ViewBag.HocKy | Năm học: @ViewBag.Nam1 - @ViewBag.Nam2
</h4>
<hr />
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<div class="form-horizontal generalStyle">
    <div class="form-group">
        <div class="control-label">Mã môn học mở</div>
        <div>
            @Html.EditorFor(model => model.MaMo, new { htmlAttributes = new { @maxlength = "11", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaMo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label">Tên môn học</div>
        <div>
            @Html.DropDownList("MaMonHoc", null, "-- Chọn môn học mở trong học kỳ này --", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MONHOC.TenMonHoc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2">
            <input type="submit" value="Thêm mới" class="btn btn-primary btnStyle" />
            @Html.ActionLink("Hủy", "Index", new { id = ViewBag.MaHKNH }, new { @class = "btn btn-primary btnStyle" })
        </div>
    </div>
</div>
 }