@model QLDKMH_CNPM.Models.SINHVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SINHVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DOITUONG.TenDoiTuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOITUONG.TenDoiTuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HUYEN.TenHuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HUYEN.TenHuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGANH.TenNganh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGANH.TenNganh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
