@model QLDKMH_CNPM.Models.SINHVIEN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}
<h2 class="text-center bg-white">Sửa thông tin sinh viên</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div style="color:white; font-weight:bold;">
            <span class="bg-danger p-1">SINH VIÊN</span>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaSV)

        <div class="form-group">
            <div class="control-label col-md-2">Họ và tên sinh viên</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Ngày sinh (MM/dd/YYYY)</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Giới tính</div>
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.GioiTinh, "Nam", new { @checked = "checked" })
                Nam
                @Html.RadioButtonFor(model => model.GioiTinh, "Nữ")
                Nữ
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Tỉnh</div>
            <div class="col-md-10">
                @Html.DropDownList("MaTinh", null, "-- Chọn lại tỉnh --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HUYEN.TINH.MaTinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Huyện</div>
            <div class="col-md-10">
                @Html.DropDownList("MaHuyen", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaHuyen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Ngành</div>
            <div class="col-md-10">
                @Html.DropDownList("MaNganh", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NGANH.TenNganh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Đối tượng</div>
            <div class="col-md-10">
                @Html.DropDownList("MaDoiTuong", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DOITUONG.TenDoiTuong, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-danger" />
                <span>
                    @Html.ActionLink("Quay lại", "Index", new { id = Model.MaSV }, new { @class = "btn btn-primary" })
                </span>
            </div>
        </div>
    </div>
}

@* Chọn Tỉnh trước sau đó sẽ đổ dữ liệu của các Huyện thuộc tỉnh đó vào trong dropdownlist *@
