@model QLDKMH_CNPM.Models.DOITUONG

@{ ViewBag.Title = "Create";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml"; }

<h3 class="text-left text-danger controllerStyle">THÊM MỚI THÔNG TIN ĐỐI TƯỢNG ƯU TIÊN</h3>
<hr />

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                <div class="form-horizontal generalStyle" style="color: black;">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="control-label">
                            Mã đối tượng ưu tiên
                            @Html.EditorFor(model => model.MaDoiTuong, new { htmlAttributes = new { @id = "MaDT", @onblur = "inputValidation1(this)", @maxlength = "4", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaDoiTuong, "", new { @class = "text-danger" })
                        </div>
                        <div id="textField1"></div>
                    </div>

                    <div class="form-group">
                        <div class="control-label">
                            Tên đối tượng ưu tiên
                            @Html.EditorFor(model => model.TenDoiTuong, new { htmlAttributes = new { @id = "TenDT", @onblur = "inputValidation2(this)", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenDoiTuong, "", new { @class = "text-danger" })
                        </div>
                        <div id="textField2"></div>
                    </div>

                    <div class="form-group">
                        <div class="control-label">
                            Tỉ lệ giảm học phí (%)
                            @Html.EditorFor(model => model.TiLeGiamHocPhi, new { htmlAttributes = new { @id = "TiLeGiamHP", @onblur = "inputValidation3(this)", @class = "form-control", @placeholder = "0-100" } })
                            @Html.ValidationMessageFor(model => model.TiLeGiamHocPhi, "", new { @class = "text-danger" })
                        </div>
                        <div id="textField3"></div>
                    </div>
                    @if (ViewBag.Message == "Sai")
                    {
    <div class="alert alert-danger">Không hợp lệ! Mời nhập lại... </div>}
                    <div class="form-group">
                        <div class="control-label">
                            <input id="submit" type="submit" value="Thêm mới" disable class="btn btn-primary btnStyle" />
                            <input type="button" value="Quay lại" class="btn btn-primary generalStyle btnStyle" data-toggle="modal" data-target="#AlertModal1" />
                        </div>
                    </div>
                </div>}


<!--Cảnh báo thoát khi chưa lưu-->
<div class="modal fade" id="AlertModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title generalStyle" style="color:black; font-weight:700;" id="exampleModalLabel2">Thông báo</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span class="generalStyle" aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body generalStyle" style="color: black;">Thoát khi chưa thêm mới?</div>
            <div class="modal-footer generalStyle">
                <a class="btn btn-danger btnStyle" href="@Url.Action("Index", "DOITUONGs", new { area = "PDT" })">Đồng ý</a>
                <button class="btn btn-primary btnStyle" type="button" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (ViewBag.code == 2)
{
    <script type="text/javascript">
        swal({
            icon: 'error',
            title: 'Không thể thêm',
            text: 'Không thể thêm đối tượng này vì mã đối tượng này đã tồn tại !!!',
        });
    </script>
}
@if (ViewBag.code == 3)
{
    <script type="text/javascript">
        swal({
            icon: 'error',
            title: 'Không thể thêm',
            text: 'Không thể thêm đối tượng này vì đối tượng này đã tồn tại !!!',
        });
    </script>
}
<!--Cảnh báo thoát để về trang chủ-->
<!--<div class="modal fade" id="AlertModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title generalStyle" style="color:black; font-weight:700;" id="exampleModalLabel2">Thông báo</h5>
                <button class="close ge" type="button" data-dismiss="modal" aria-label="Close">
                    <span class="generalStyle" aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body generalStyle" style="color: black;">Quay về trang chủ?</div>
            <div class="modal-footer generalStyle">
                <a class="btn btn-danger btnStyle" href="~/PDT/PDT/PDTHome">Đồng ý</a>
                <button class="btn btn-primary btnStyle" type="button" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>-->

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script type="text/javascript">
    //function để validation Mã Đối Tượng
    //Ở mỗi validation có thêm hàm dùng để disabled submit khi người dùng nhập sai
    function inputValidation1(inputTxt) {
        var regx = /^[0-9A-Z]+$/;
        var textField = document.getElementById("textField1");
        if (inputTxt.value != '') {
            if (inputTxt.value.length == 4) {
                if (inputTxt.value.match(regx)) {
                    textField.textContent = '';
                    textField.style.color = 'green';
                } else {
                    textField.textContent = '*Vui lòng chỉ nhập ký tự số và kí tự chữ cái In hoa';
                    textField.style.color = 'red';
                    $('#submit').attr('disabled', true);
                }
            } else {
                textField.textContent = '*Mã Đối tượng phải có đủ 4 ký tự';
                textField.style.color = 'red';
                $('#submit').attr('disabled', true);
            }
        }
        else {
            textField.textContent = '*Vui lòng nhập Mã Đối Tượng';
            textField.style.color = 'red';
        }
    }
    //function để validation label Tên Đối tượng
    function inputValidation2(inputTxt) {
        var regx = /^[aAàÀảẢãÃáÁạẠăĂằẰẳẲẵẴắẮặẶâÂầẦẩẨẫẪấẤậẬbBcCdDđĐeEèÈẻẺẽẼéÉẹẸêÊềỀểỂễỄếẾệỆfFgGhHiIìÌỉỈĩĨíÍịỊjJkKlLmMnNoOòÒỏỎõÕóÓọỌôÔồỒổỔỗỖốỐộỘơƠờỜởỞỡỠớỚợỢpPqQrRsStTuUùÙủỦũŨúÚụỤưƯừỪửỬữỮứỨựỰvVwWxXyYỳỲỷỶỹỸýÝỵỴzZ ]+$/;
        var textField = document.getElementById("textField2");
        if (inputTxt.value != '') {
            if (inputTxt.value.match(regx)) {
                textField.textContent = '';
                textField.style.color = 'green';
            } else {
                textField.textContent = '*Vui lòng chỉ nhập các ký tự là tiếng việt và khoảng trắng';
                textField.style.color = 'red';
                $('#submit').attr('disabled', true);
            }
        }
        else {
            textField.textContent = '*Vui lòng nhập Tên Đối tượng';
            textField.style.color = 'red';
        }
    }
    //function để validation label tỉ lệ giảm học phí
    function inputValidation3(inputTxt) {
        var regx = /^[0-9]+$/;
        var textField = document.getElementById("textField3");
        if (inputTxt.value != '') {
            if (inputTxt.value.match(regx) && inputTxt.value <= 100) {
                textField.textContent = '';
                textField.style.color = 'green';
            } else {
                textField.textContent = '*Vui lòng chỉ nhập giá trị trong đoạn từ 0 đến 100';
                textField.style.color = 'red';
                $('#submit').attr('disabled', true);
            }
        }
        else {
            textField.textContent = '*Vui lòng nhập tỉ lệ giảm học phí cho đối tượng trên';
            textField.style.color = 'red';
        }
    }
    //function để disable/able button submit
    $(function () {
        $('#submit').attr('disabled', true);
        $('#MaDT, #TenDT, #TiLeGiamHP').change(function () {
            if ($('#MaDT').val() != '') {
                if ($('#TenDT').val() != '') {
                    if ($('#TiLeGiamHP').val() != '') {
                        $('#submit').attr('disabled', false);
                    } else {
                        $('#submit').attr('disabled', true);
                    }
                } else {
                    $('#submit').attr('disabled', true);
                }
            } else {
                $('#submit').attr('disabled', true);
            }
        });
    });
</script>
