@model IEnumerable<QLDKMH_CNPM.Models.DOITUONG>

@{ ViewBag.Title = "Index";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml"; }
<link href="~/Assets/css/UploadFile.css" rel="stylesheet" type="text/css" />

<!--Page Heading-->
<h3 class="mb-1 text-danger controllerStyle">DANH SÁCH ĐỐI TƯỢNG ƯU TIÊN</h3>
<hr class="mb-0" />
@using (Html.BeginForm("Upload", "DOITUONGs", "Index", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <a class="generalStyle" style="color:black"><strong>Tải lên file Excel danh sách đối tượng ưu tiên </strong></a>
    <a class="form-group">
        <div class="upload">
            <input type="button" class="uploadButton btnStyle generalStyle" value="Chọn đường dẫn" />
            <input type="file" name="UploadedFile" accept="/.xls, .xlsx" id="fileUpload" />
            <label class="fileName" style="width:auto; ">Đường dẫn file Excel...</label>
        </div>
        <input type="submit" name="Submit" class="btn btn-primary btnStyle generalStyle" value="Tải lên" />
    </a>
}


<!--DataTable Showing-->
<!--Thêm class="card" để scroll nội dung mà không scroll sidebar-->
<div class="bg-light card generalStyle">
    <div class="py-2 m-0">
        <span>
            @Html.ActionLink("Thêm Đối tượng", "Create", null, new { @class = "btn btn-primary btnStyle" })
        </span>
    </div>

    <div id="dataTable_wrapper" class="dataTables_wrapper pre-scrollable card-body m-1 p-1" style="background-color: white">
        <div>
            <div id="dataTable_wrapper" class="dataTables_wrapper">
                <table class="table table-bordered dataStyle dataTable" id="dataTable">
                    <thead>
                        <tr>
                            <th width="50%">Đối tượng ưu tiên</th>
                            <th width="50%">Tỉ lệ giảm học phí (%)</th>
                            <th style="text-align: center">Thao tác</th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
        <tr>
            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.TenDoiTuong)
            </td>
            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.TiLeGiamHocPhi)
            </td>
            <td>
                <div class="container">
                    <div class="dropdown nav-item">
                        <button type="button" class="btn btn-outline-danger dropdown-toggle alert-primary" style="font-weight:500; font-size:small;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Tùy chọn
                        </button>
                        <div class="dropdown-menu" style="text-align:center;" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("Details", "DOITUONGs", new {area ="PDT", id = item.MaDoiTuong})">Xem thông tin</a>
                            <a class="dropdown-item" href="@Url.Action("Edit", "DOITUONGs", new {area ="PDT", id = item.MaDoiTuong})">Sửa thông tin</a>
                            <a class="dropdown-item" href="@Url.Action("Delete", "DOITUONGs", new {area ="PDT", id = item.MaDoiTuong})">Xóa thông tin</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
}
                </table>
            </div>
        </div>
    </div>
</div>
@*Js để hỗ trợ upload file Excel*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $('input[type=file]').change(function (e) {
        $in = $(this);
        $in.next().html($in.val());

    });
    $('.uploadButton').click(function () {
        var fileName = $(".UploadedFile").val();
        if (fileName) {
            alert(fileName + " có thể tải lên.");
        }
        else {
            alert("Vui lòng chọn file Excel để tải lên");
        }
    });</script>

<!--Script for checking validation-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@*@if (ViewBag.code == 0)
    {
    <script type="text/javascript">
        swal({
            icon: 'error',
            title: 'Không thể thêm',
            text: 'Thêm thất bại vì thông tin nhập không hợp lệ !!!',
        })
    </script>*@
@if (ViewBag.code == 2)
{
<script type="text/javascript">
    swal({
        icon: 'error',
        title: 'Không thể xóa',
        text: 'Không thể xóa thông tin đối tượng ưu tiên vì thông tin đang tồn tại trong danh sách SINH VIÊN !!!',
    })
</script>
}

@if (ViewBag.code == 3)
{
<script type="text/javascript">
    swal("Thêm mới thông tin đối tượng ưu tiên thành công", "", "success");
</script>}

@if (ViewBag.code == 4)
{
<script type="text/javascript">
    swal("Đã xóa thông tin đối tượng ưu tiên thành công", "", "success");
</script>}
@if (ViewBag.code == 5)
{
<script type="text/javascript">
    swal("Lưu thông tin đối tượng ưu tiên thành công", "", "success");
</script>}

@if (ViewBag.code == 6)
{
<script type="text/javascript">
    swal({
        icon: 'error',
        title: 'Không thể sửa',
        text: 'Không thể sửa thông tin đối tượng ưu tiên vì thông tin sửa không hợp lệ !!!',
    })
</script>
}