
@{
    ViewBag.Title = "KIEMTRA";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}


<h3 class="text-danger controllerStyle">DANH SÁCH BÁO CÁO SINH VIÊN CHƯA HOÀN THÀNH HỌC PHÍ</h3>
<hr />

<div class="form-group generalStyle">
    <div class="col-md-10">
        <select class="form-control w-50 namhoc">
            <option value="0" selected>-- Chọn học kỳ --</option>
            @foreach (var item in Model)
            {
                <option value="@item.MaHKNH">HK @item.HocKy (@item.Nam1 - @item.Nam2)</option>
            }
        </select>
        <br />
        @if (ViewBag.Message != "")
        {
            <div class="alert alert-warning w-50">@ViewBag.Message</div>
        }
        <a class="btn btn-primary" id="eidf-href" href="@Url.Action("ListHK", "DSSV_CHUAHOANTHANH_HP", new { })">Xem danh sách báo cáo</a>
    </div>

</div>



<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("select.namhoc").change(function () {
            var selected = $(this).children("option:selected").val();
            if (selected == "0") {
                alert("Chưa chọn năm học!!!");
                document.getElementById("edit-href").href = "/DSSV_CHUAHOANTHANH_HP/ListHK";
            }
            else {
                document.getElementById("edit-href").href = "/PDT/DSSV_CHUAHOANTHANH_HP/Index/" + selected.toString();
            }
        });
    });
</script>

