@model QLDKMH_CNPM.Models.CT_PHIEU_DKHP

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/SV/Views/Shared/SVLayout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/scripts/jquery-3.4.1.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable();
        $('#checkBoxAll').click(function () {
            if ($(this).is(":checked")) {
                $(".chkCheckBoxId").prop("checked", true)
            }
            else {
                $(".chkCheckBoxId").prop("checked", false)
            }
        });
    });
</script>

<h3 class="text-left text-danger controllerStyle">ĐĂNG KÝ THÊM MÔN HỌC</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal generalStyle">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label">Số phiếu đăng ký</div>
            <div>
                <div class="form-control">@ViewBag.SoPhieuDKHP</div>
                @*@Html.HiddenFor(model => model.SoPhieuDKHP)*@
                @*@Html.EditorFor(m => m.SoPhieuDK, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.ValidationMessageFor(model => model.SoPhieuDK, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            <div id="dataTable_wrapper" name="ID" class="dataTables_wrapper card-body pre-scrollable bg-white m-1 p-1">
                <div>
                    <div id="dataTable_wrapper" class="dataTables_wrapper">
                        <table class="table table-bordered dataTable dataStyle" id="dataTable">
                            <thead>
                                <tr>
                                    <th width="10%"><input type="checkbox" id="checkBoxAll" class="custom-checkbox"></th>
                                    <th width="80%">Tên môn học</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.ListMonHoc)
                                {
                                    <tr value="@item.MaMo">
                                        <td>
                                            <input type="checkbox" name="ID" value="@item.MaMo" class="custom-checkbox chkCheckBoxId" />
                                        </td>
                                        <td>@item.DS_MONHOC_MO.MONHOC.TenMonHoc</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.ValidationMessageFor(model => model.MaMo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div>
                <div class="control-label">
                    <input type="submit" value="Đăng ký" class="btn btn-primary btnStyle" />
                    @Html.ActionLink("Quay lại", "Details", "PHIEU_DKHP", new { @id = ViewBag.SoPhieuDKHP }, new { @class = "btn btn-primary btnStyle" })
                </div>
            </div>
        </div>
    </div>
}