@model QLDKMH_CNPM.Models.CHUONGTRINHHOC

@{ ViewBag.Title = "Edit";
                Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml"; 
}

<h3 class="text-danger controllerStyle">
    SỬA THÔNG TIN CHƯƠNG TRÌNH HỌC <br />
</h3>
<hr/>
<h4 class="text-danger controllerStyle">
    Ngành: @Html.DisplayFor(model => model.NGANH.TenNganh)
    <br />
    Môn: @Html.DisplayFor(model => model.MONHOC.TenMonHoc)
</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

       <div class="form-horizontal generalStyle" style="color: black;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaNganh)

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaMonHoc)
           <div class="form-group">
             <div class="control-label">Học kỳ</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HocKy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HocKy, "", new { @class = "text-danger" })
                </div>
           </div>

           <div class="form-group">
           <div class="control-label">Ghi chú</div>
               <div class="col-md-10">
                    @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
               </div>
           </div>
           <hr />
           <div class="form-group">
              <div>
                  <input type="submit" value="Lưu" class="btn btn-danger btnStyle" />
                     <span onclick=" return confirm('Bạn chưa lưu, bạn có muốn thoát ra không?')">
                          @Html.ActionLink("Quay lại", "Details", new { id = Model.MaNganh }, new { @class = "btn btn-primary btnStyle" })
                     </span>
              </div>
           </div>
       </div>
}
