@model IEnumerable<LinqToSQLMvcApplication.Models.DS_model>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page Heading-->
<h2 class="h3 mb-1 text-danger"
    style="font-weight:500; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    DANH SÁCH SINH VIÊN CHƯA HOÀN THÀNH HỌC PHÍ
</h2>

<!--DataTable Showing-->
<div class="shadow-lg bg-light card table-responsive">
    <div class="card-header py-2">
    </div>
    <div class="card-body">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="col-sm-12">
                <!--id = dataTable shows number of entries; sort and search function-->
                <table class="table table-bordered" id="dataTable" width="100%" style="text-align:center">
                    <thead class="alert-light">
                        <tr>
                            <th>Mã HKNH</th>
                            <th>MSSV</th>
                            <th>Họ Tên</th>
                            <th>Mã Ngành</th>
                            <th>Học kỳ</th>
                            <th>Năm bắt đầu</th>
                            <th>Năm kết thúc</th>
                            <th>Số tiền còn lại</th>
                            <th style="width:100px;">Thao tác</th>
                        </tr>
                    </thead>
                    <!--This is for footer line-->
                    <tfoot class="alert-light">
                        <tr>
                            <th>Mã HKNH</th>
                            <th>MSSV</th>
                            <th>Họ Tên</th>
                            <th>Mã Ngành</th>
                            <th>Học kỳ</th>
                            <th>Năm bắt đầu</th>
                            <th>Năm kết thúc</th>
                            <th>Số tiền còn lại</th>
                            <th></th>
                        </tr>
                    </tfoot>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                @Html.DisplayFor(model => item.MaHKNH)
                            </th>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaSV)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HoTen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaNganh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HocKy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nam1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nam2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoTienConLai)
                            </td>

                            <td>
                                <!--EFFECT 1: line with blue-->

                                <div class="container">
                                    <div class="dropdown nav-item">
                                        <button type="button" class="btn btn-outline-danger dropdown-toggle alert-primary" style="font-weight:600;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            Tùy chọn
                                        </button>
                                        <div class="dropdown-menu" style="text-align:center" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:600;" href="@Url.Action("Details", "DSSV_CHUAHOANTHANH_HP", new { id = item.MaSV})">Xem thông tin</a>
                                            <a class="dropdown-item" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:600;" href="@Url.Action("Edit", "DSSV_CHUAHOANTHANH_HP", new { id = item.MaSV})">Sửa thông tin</a>
                                            <a class="dropdown-item" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:600;" href="@Url.Action("Delete", "DSSV_CHUAHOANTHANH_HP", new { id = item.MaSV})">Xóa thông tin</a>
                                        </div>
                                    </div>
                                </div>

                                <!--EFFECT 2: line with gray-->
                                <!--<div class="dropdown">
                                    <button type="button" class="btn btn-outline-danger dropdown-toggle alert-primary" style="font-weight:600;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Tùy chọn
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; font-weight:600;" href="@Url.Action("Details", "SINHVIEN", new {id = item.MaSV})">Xem thông tin</a>
                                        <a class="dropdown-item" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; font-weight:600;" href="@Url.Action("Edit", "SINHVIEN", new {id = item.MaSV})">Sửa thông tin</a>
                                        <a class="dropdown-item" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; font-weight:600;" href="@Url.Action("Delete", "SINHVIEN", new {id = item.MaSV})">Xóa thông tin</a>
                                    </div>
                                </div>-->
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>