@model QLDKMH_CNPM.Models.CT_PHIEU_DKHP

@{ ViewBag.Title = "Create";
    Layout = "~/Areas/SV/Views/Shared/SVLayout.cshtml"; }

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/scripts/jquery-3.4.1.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable();
        $('#checkBoxAll').click(function () {
            if ($(this).is(":checked")) {
                $(".chkCheckBoxId").prop("checked", true)
            }
            else {
                $(".chkCheckBoxId").prop("checked", false)
            }
        });
    });
</script>

<h3 class="text-left text-danger controllerStyle">ĐĂNG KÝ MÔN HỌC</h3>
<hr />
<div class="bg-primary text-white generalStyle" style="text-align: left; padding:5px">
    Danh sách môn học có thể đăng ký
</div>
<br />
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="control-label generalStyle" style="color:black">
    Số phiếu đăng ký
    <div class="form-control" readonly>@ViewBag.SoPhieuDKHP</div>
</div>
<div class="form-group mt-1 ml-0">
    <div class="control-label" style="font-family: Arial, Helvetica, sans-serif; font-size: larger">
        <input id="btnNew" type="submit" value="Đăng ký các môn đã chọn" class="btn btn-primary btnStyle " />
        <input type="button" value="Hủy" class="btn btn-primary generalStyle btnStyle" data-toggle="modal" data-target="#AlertModal1" />
    </div>
</div>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group generalStyle">
    <div id="dataTable_wrapper" name="ID" class="dataTables_wrapper card-body pre-scrollable bg-white m-1 p-1">
        <div>
            <div id="dataTable_wrapper" class="dataTables_wrapper">
                <table class="table table-bordered dataTable dataStyle" id="dataTable">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" />Chọn</th>
                            <th>Mã môn học</th>
                            <th>Mã môn học mở</th>
                            <th>Tên môn học</th>
                            <th>Loại môn</th>
                            <th>Số tiết</th>
                            <th>Số tín chỉ</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.ListMonHoc)
                        {
                            <tr value="@item.MaMo">
                                <td><input type="checkbox" name="MaMo" value="@item.MaMo" class="custom-checkbox chkCheckBoxId" /></td>
                                <td>
                                    @item.DS_MONHOC_MO.MONHOC.MaMonHoc
                                </td>
                                <td>
                                    @item.MaMo
                                </td>
                                <td>
                                    @item.DS_MONHOC_MO.MONHOC.TenMonHoc
                                </td>
                                <td>
                                    @item.DS_MONHOC_MO.MONHOC.MaLoaiMon
                                </td>
                                <td>
                                    @item.DS_MONHOC_MO.MONHOC.SoTiet
                                </td>
                                <td>
                                    @item.DS_MONHOC_MO.MONHOC.SoTinChi
                                </td>
                                <td>
                                    @item.GhiChu
                                </td>
                            </tr>
                         }
                    </tbody>
                </table>
                @Html.ValidationMessageFor(model => model.MaMo, "", new { @class = "text-danger" })
                <hr />
            </div>
        </div>
    </div>
</div>
}
<div class="modal fade" id="AlertModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title generalStyle" style="color:black; font-weight:700;" id="exampleModalLabel2">
                    Thông báo
                </h5>
                <button class="close ge" type="button" data-dismiss="modal" aria-label="Close">
                    <span class="generalStyle" aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body generalStyle" style="color: black;">Bạn có thật sự muốn hủy thao tác?</div>
            <div class="modal-footer generalStyle">
                <a class="btn btn-danger btnStyle" href="@Url.Action("Details", "Phieu_DKHP", new { area = "SV", id = ViewBag.SoPhieuDKHP })">Đồng ý</a>
                <button class="btn btn-primary btnStyle" type="button" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>