@model QLDKMH_CNPM.Models.DSSV_CHUAHOANTHANH_HP

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DSSV_CHUAHOANTHANH_HP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HKNH.MaHKNH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HKNH.MaHKNH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SINHVIEN.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SINHVIEN.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTienConLai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTienConLai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
