@model QLDKMH_CNPM.Models.SINHVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/SV/Views/Shared/SVLayout.cshtml";
}

<h3 class="text-left text-danger controllerStyle">LÝ LỊCH SINH VIÊN</h3>
<hr />
<div class="generalStyle" style="font-weight: 100;">
    <table class="table" width="100%" cellspacing="0">
        <tbody>
            <tr style="color: white; background-color: #4e37df">
                <th width="50%">MSSV</th>
                <td width="50%">@Html.DisplayFor(model => model.MaSV)</td>
            </tr>

            <tr class="bg-light" style="color: black;">
                <th>Họ và Tên</th>
                <td>@Html.DisplayFor(model => model.HoTen)</td>
            </tr>

            <tr style="color: white; background-color: #4e37df">
                <th>Giới tính</th>
                <td>
                    @Html.DisplayFor(model => model.GioiTinh)
                </td>
            </tr>

            <tr class="bg-light" style="color: black;">
                <th>Ngày sinh</th>
                <td>
                    @Html.DisplayFor(model => model.NgaySinh.Day)/@Html.DisplayFor(model => model.NgaySinh.Month)/@Html.DisplayFor(model => model.NgaySinh.Year)
                </td>
            </tr>

            <tr style="color: white; background-color: #4e37df">
                <th>Quê quán</th>
                <td>
                    @Html.DisplayFor(model => model.HUYEN.TenHuyen) - @Html.DisplayFor(model => model.HUYEN.TINH.TenTinh)
                </td>
            </tr>

            <tr class="bg-light" style="color: black;">
                <th>Ngành</th>
                <td>
                    @Html.DisplayFor(model => model.NGANH.TenNganh)
                </td>
            </tr>

            <tr style="color: white; background-color: #4e37df">
                <th>Khoa</th>
                <td>
                    @Html.DisplayFor(model => model.NGANH.KHOA.TenKhoa)
                </td>
            </tr>

            <tr class="bg-light" style="color: black;">
                <th>Loại đối tượng ưu tiên</th>
                <td>
                    @Html.DisplayFor(model => model.DOITUONG.TenDoiTuong)
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaSV }, new { @class = "btn btn-danger btnStyle" })
</div>