@model QLDKMH_CNPM.Models.HKNH

@{ ViewBag.Title = "Create";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml"; }

<h3 class="text-left text-danger controllerStyle">THÊM MỚI HỌC KỲ - NĂM HỌC</h3>
<hr />
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

                <div class="form-horizontal generalStyle" style="color: black;">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="control-label">
                            Mã học kỳ - năm học
                            @Html.EditorFor(model => model.MaHKNH, new { htmlAttributes = new { @id = "MaHKNH", @onblur = "inputValidation1(this)", @maxlength = "5", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaHKNH, "", new { @class = "text-danger" })
                        </div>
                        <div id="textField1"></div>
                    </div>

                    <div class="form-group">
                        <div class="control-label">
                            Học kỳ
                            @Html.EditorFor(model => model.HocKy, new { htmlAttributes = new { @id = "TenHKNH", @onblur = "inputValidation2(this)", @maxlength = "1", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HocKy, "", new { @class = "text-danger" })
                        </div>
                        <div id="textField2"></div>
                    </div>

                    <div class="form-group">
                        <div class="control-label">
                            Năm học bắt đầu
                            @Html.EditorFor(model => model.Nam1, new { htmlAttributes = new { @id = "Nam1", @onblur = "inputValidation3(this)", @maxlength = "4", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nam1, "", new { @class = "text-danger" })
                        </div>
                        <div id="textField3"></div>
                    </div>

                    <div class="form-group">
                        <div class="control-label">
                            Năm học kết thúc
                            @Html.EditorFor(model => model.Nam2, new { htmlAttributes = new { @id = "Nam2", @onblur = "inputValidation4(this)", @maxlength = "4", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nam2, "", new { @class = "text-danger" })
                        </div>
                        <div id="textField4"></div>
                    </div>

                    @*<div class="form-group">
                                <div class="control-label">
                                    Tên học kỳ
                                    @Html.DropDownList("HocKy", null, "-- Chọn học kỳ --", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.HocKy, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        <div class="form-group">
                            <div class="control-label">
                                Năm học bắt đầu
                                @Html.DropDownList("Nam1", null, "-- Chọn năm học bắt đầu --", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nam1, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="control-label">
                                Năm học kết thúc
                                @Html.DropDownList("Nam2", null, "-- Chọn năm học kết thúc --", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nam2, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        <div class="control-label">
                            Hạn đóng học phí của học kỳ
                            @Html.EditorFor(model => model.HanDongHocPhi, new { htmlAttributes = new { @id = "HanHP", @onchange = "inputValidation5(this)", @class = "form-control datetimepicker" } })
                            @Html.ValidationMessageFor(model => model.HanDongHocPhi, "", new { @class = "text-danger" })
                        </div>
                        <div id="textField5"></div>
                    </div>
                    @if (ViewBag.Message == "Sai")
                    {
    <div class="alert alert-danger">Không hợp lệ! Mời nhập lại... </div>}
                    <div class="form-group">
                        <div class="control-label">
                            <input id="submit" type="submit" value="Thêm mới" class="btn btn-primary btnStyle" />
                            <input type="button" value="Quay lại" class="btn btn-primary generalStyle btnStyle" data-toggle="modal" data-target="#AlertModal1" />
                            @*<input type="button" value="Quay về trang chủ" class="btn btn-primary btnStyle" data-toggle="modal" data-target="#AlertModal2" />*@
                        </div>
                    </div>
                </div>}

<!--Cảnh báo thoát khi chưa lưu-->
<div class="modal fade" id="AlertModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title generalStyle" style="color:black; font-weight:700;" id="exampleModalLabel2">Thông báo</h5>
                <button class="close ge" type="button" data-dismiss="modal" aria-label="Close">
                    <span class="generalStyle" aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body generalStyle" style="color: black;">Thoát khi chưa lưu?</div>
            <div class="modal-footer generalStyle">
                <a class="btn btn-danger btnStyle" href="@Url.Action("Index", "HKNHs", new { area = "PDT" })">Đồng ý</a>
                <button class="btn btn-primary btnStyle" type="button" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<!--Cảnh báo thoát để về trang chủ-->
<!--<div class="modal fade" id="AlertModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title generalStyle" style="color:black; font-weight:700;" id="exampleModalLabel2">Thông báo</h5>
                <button class="close ge" type="button" data-dismiss="modal" aria-label="Close">
                    <span class="generalStyle" aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body generalStyle" style="color: black;">Quay về trang chủ?</div>
            <div class="modal-footer generalStyle">
                <a class="btn btn-danger btnStyle" href="~/PDT/PDT/PDTHome">Đồng ý</a>
                <button class="btn btn-primary btnStyle" type="button" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery-3.6.0.js"></script>

<script>
    $(function () {
        $('.datetimepicker').datepicker({
            closeText: "Đóng",
            prevText: "Trước",
            nextText: "Sau",
            currentText: "Hôm nay",
            monthNames: ["Tháng một", "Tháng hai", "Tháng ba", "Tháng tư", "Tháng năm", "Tháng sáu", "Tháng bảy", "Tháng tám", "Tháng chín", "Tháng mười", "Tháng mười một", "Tháng mười hai"],
            monthNamesShort: ["Một", "Hai", "Ba", "Bốn", "Năm", "Sáu", "Bảy", "Tám", "Chín", "Mười", "Mười một", "Mười hai"],
            dayNames: ["Chủ nhật", "Thứ hai", "Thứ ba", "Thứ tư", "Thứ năm", "Thứ sáu", "Thứ bảy"],
            dayNamesShort: ["CN", "Hai", "Ba", "Tư", "Năm", "Sáu", "Bảy"],
            dayNamesMin: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"],
            weekHeader: "Tuần",
            dateFormat: "mm/dd/yy",
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: "",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0",
            showButtonPanel: true
        }
        );
    });
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (ViewBag.code == 2)
{
<script type="text/javascript">
    swal({
        icon: 'error',
        title: 'Không thể thêm',
        text: 'Không thể thêm học kỳ này vì mã học kỳ này đã tồn tại !!!',
    })
</script>
}

<script type="text/javascript">
    //function để validation Mã HKNH
    //Ở mỗi validation có thêm hàm dùng để disabled submit khi người dùng nhập sai
    function inputValidation1(inputTxt) {
        var textField = document.getElementById("textField1");
        if (inputTxt.value != '') {
            if (inputTxt.value.length == 5) {
                textField.textContent = '';
                textField.style.color = 'red';
            } else {
                textField.textContent = '*Mã HKNH phải có đủ 5 ký tự';
                textField.style.color = 'red';
                $('#submit').attr('disabled', true);
            }
        }
        else {
            textField.textContent = '*Vui lòng nhập Mã HKNH';
            textField.style.color = 'red';
        }
    }
    //function để validation label Tên Học Kỳ
    function inputValidation2(inputTxt) {
        var regx = /^[1-3]+$/;
        var textField = document.getElementById("textField2");
        if (inputTxt.value != '') {
            if (inputTxt.value.match(regx)) {
                textField.textContent = '';
                textField.style.color = 'green';
            } else {
                textField.textContent = '*Vui lòng chỉ nhập giá trị từ 1 đến 3';
                textField.style.color = 'red';
                $('#submit').attr('disabled', true);
            }
        }
        else {
            textField.textContent = '*Vui lòng nhập Tên HKNH';
            textField.style.color = 'red';
        }
    }
    //function để validation label Nam1
    function inputValidation3(inputTxt) {
        var textField = document.getElementById("textField3");
        if (inputTxt.value != '') {
            if (inputTxt.value.length == 4) {
                textField.textContent = '';
                textField.style.color = 'red';
            } else {
                textField.textContent = '*Vui lòng nhập đủ 4 ký tự';
                textField.style.color = 'red';
                $('#submit').attr('disabled', true);
            }
        }
        else {
            textField.textContent = '*Vui lòng nhập Năm bắt đầu năm học';
            textField.style.color = 'red';
        }
    }
    //function để validation label Nam2
    function inputValidation4(inputTxt) {
        var textField = document.getElementById("textField4");
        if (inputTxt.value != '') {
            if (inputTxt.value.length == 4) {
                
                textField.textContent = '';
                textField.style.color = 'red';
            } else {
                textField.textContent = '*Vui lòng nhập đủ 4 ký tự';
                textField.style.color = 'red';
                $('#submit').attr('disabled', true);
            }
        }
        else {
            textField.textContent = '*Vui lòng nhập Năm kết thúc năm học';
            textField.style.color = 'red';
        }
    }
    //function để validation label Hạn Đóng Học Phí
    function inputValidation5(inputTxt) {
        var textField = document.getElementById("textField5");
        if (inputTxt.value == '') {
            textField.textContent = '*Vui lòng chọn hạn đóng học phí';
            textField.style.color = 'red';
            $('#submit').attr('disabled', true);
        }
        else {
            textField.textContent = '';
            textField.style.color = 'red';
        }
    }
    //function để disable/able button submit
    $(function () {
        $('#submit').attr('disabled', true);
        $('#MaHKNH, #TenHKNH, #Nam1, #Nam2, #HanHP').change(function () {
            if ($('#MaHKNH').val() != '') {
                if ($('#TenHKNH').val() != '') {
                    if ($('#Nam1').val() != '') {
                        if ($('#Nam2').val() != '') {
                            if ($('#HanHP').val() != '') {
                                $('#submit').attr('disabled', false);
                            } else {
                                $('#submit').attr('disabled', true);
                            }
                        } else {
                            $('#submit').attr('disabled', true);
                        }
                    } else {
                        $('#submit').attr('disabled', true);
                    }
                } else {
                    $('#submit').attr('disabled', true);
                }
            } else {
                $('#submit').attr('disabled', true);
            }
        });
    });
</script>