@model QLDKMH_CNPM.Models.HKNH

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HKNH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HocKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocKy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nam1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nam1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nam2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nam2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HanDongHocPhi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HanDongHocPhi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHKNH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
