@model IEnumerable<QLDKMH_CNPM.Models.HKNH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HocKy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nam1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nam2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HanDongHocPhi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HocKy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nam1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nam2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HanDongHocPhi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHKNH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHKNH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHKNH })
        </td>
    </tr>
}

</table>
