@model QLDKMH_CNPM.Models.PHIEUTHU

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/SV/Views/Shared/SVLayout.cshtml";
}

<h2 class="text-center bg-white">Thêm phiếu thu học phí</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div style="color:white; font-weight:bold;">
            <span class="bg-gradient-danger p-1">PHIẾU THU</span>
        </div>
        <hr />
        <div class="form-grousp">
            <div class="control-label col-md-2">Số Phiếu thu</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoPhieuThu, new { htmlAttributes = new { @maxlength = "8", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoPhieuThu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Số Phiếu DKHP</div>
            <div class="col-md-10">
                @Html.DropDownList("SoPhieuDKHP", null, "--Chọn số phiếu DKHP--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PHIEU_DKHP.SoPhieuDKHP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Ngày lập (dd/MM/YYYY)</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayLap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayLap, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Số tiền thu</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoTienThu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoTienThu, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo" class="btn btn-primary" />
                @Html.ActionLink("Quay lại", "Index")
            </div>
        </div>
    </div>}
