@model QLDKMH_CNPM.Models.PHIEUTHU

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/SV/Views/Shared/SVLayout.cshtml";
}

<h2 class="text-center bg-white">Thông tin sinh viên</h2>

<h3 class="alert-danger">Bạn có thật sự muốn xóa thông tin của phiếu thu học phí này?</h3>
<div>
    <div style="color:white; font-weight:bold;">
        <span class="bg-danger p-1">PHIẾU THU HỌC PHÍ</span>
    </div>
    <hr />
</div>
<div>
    <table class="table" style="width:100%; font-weight:500;">
        <tbody>
            <tr>
                <th style="color:white; background-color:#4e73df; width:600px">MSSV</th>
                <td style="color:white; background-color:#4e73df;">@Html.DisplayFor(model => model.SoPhieuThu)</td>
            </tr>

            <tr class="bg-light">
                <th>Số Phiếu DKHP</th>
                <td>@Html.DisplayFor(model => model.SoPhieuDKHP)</td>
            </tr>

            <tr>
                <th style="color:white; background-color:#4e73df;">Ngày lập</th>
                <td style="color:white; background-color:#4e73df;">@Html.DisplayFor(model => model.NgayLap)</td>
            </tr>

            <tr class="bg-light">
                <th>Số tiền thu</th>
                <td>@Html.DisplayFor(model => model.SoTienThu) </td>
            </tr>

        </tbody>
    </table>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <span>
                @Html.ActionLink("Quay lại", "Index", new { id = Model.SoPhieuThu }, new { @class = "btn btn-primary", @style = "font-weight:500;" })
            </span>
        </div>}
</div>
