@model QLDKMH_CNPM.Models.PHIEUTHU

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/SV/Views/Shared/SVLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PHIEUTHU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PHIEU_DKHP.MaSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHIEU_DKHP.MaSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTienThu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTienThu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SoPhieuThu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
