@model QLDKMH_CNPM.Models.PHIEUTHU

@{ ViewBag.Title = "Create";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml"; }

<h3 class="text-left text-danger controllerStyle">THÊM MỚI THÔNG TIN PHIẾU THU</h3>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal generalStyle" style="color: black;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="generalStyle"><strong>Nhập thông tin phiếu thu</strong></p>

        <div class="form-group">
            <div class="control-label">
                Số phiếu thu
                @Html.EditorFor(model => model.SoPhieuThu, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.SoPhieuThu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div>Số phiếu ĐKHP</div>
            <div>
                @Html.DropDownList("SoPhieuDKHP", null, "-- Chọn phiếu đăng ký --", htmlAttributes: new {@class = "form-control" })
                @Html.ValidationMessageFor(model => model.SoPhieuDKHP, "", new { @class = "text-danger" })
            </div>
        </div>
         <div class="form-group">
            <div class="control-label">
                Họ và tên sinh viên
                @Html.TextBox("HoTen" ,null,new {  @class = "form-control",@readonly="readonly" })
            </div>
        </div>
         <div class="form-group">
             <div class="control-label">
                 Mã số sinh viên
                 @Html.TextBox("MSSV", null, new { @class = "form-control", @readonly = "readonly" })
             </div>
         </div>
         <div class="form-group">
             <div class="control-label">
                 Học kỳ - Năm học
                 @Html.TextBox("HKNH", null, new { @class = "form-control", @readonly = "readonly" })
             </div>
         </div>
        <div class="form-group">
            <div class="control-label">Ngày lập phiếu thu</div>
            <div class="form-control" readonly>
                @Html.DisplayFor(model => model.NgayLap.Day)/@Html.DisplayFor(model => model.NgayLap.Month)/@Html.DisplayFor(model => model.NgayLap.Year)
                @Html.HiddenFor(model => model.NgayLap)
                @Html.ValidationMessageFor(model => model.NgayLap, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label">
                Số tiền còn lại
                @Html.TextBox("SoTienConLai" ,null,new {  @class = "form-control",@readonly="readonly" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label">Số tiền thu</div>
            <div>
                @Html.EditorFor(model => model.SoTienThu, new { htmlAttributes = new { @id = "SoTienThu", @onblur = "inputValidation1(this)", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoTienThu, "", new { @class = "text-danger" })
            </div>
            <div id="textField1"></div>
        </div>

        <div class="form-group">
            <div class="control-label">
                <input id="submit" type="submit" value="Thêm mới" disabled class="btn btn-primary btnStyle" />
                <input type="button" value="Quay lại" class="btn btn-primary generalStyle btnStyle" data-toggle="modal" data-target="#AlertModal1" />
            </div>
        </div>
    </div>}

<!--Cảnh báo thoát-->
<div class="modal fade" id="AlertModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title generalStyle" style="color:black; font-weight:700;" id="exampleModalLabel2">Thông báo</h5>
                <button class="close ge" type="button" data-dismiss="modal" aria-label="Close">
                    <span class="generalStyle" aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body generalStyle" style="color: black;">Thoát khi chưa lưu?</div>
            <div class="modal-footer generalStyle">
                <a class="btn btn-danger btnStyle" href="@Url.Action("Index", "PHIEUTHUs", new { area = "PDT" })">Đồng ý</a>
                <button class="btn btn-primary btnStyle" type="button" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script type="text/javascript">
    //function để validation Số Tiền thu
    //Ở mỗi validation có thêm hàm dùng để disabled submit khi người dùng nhập sai
    function inputValidation1(inputTxt) {
        var regx = /^[0-9.]+$/;

        var textField = document.getElementById("textField1");
        if (inputTxt.value != '0.00') {
            if (inputTxt.value.match(regx) > 0) {
                textField.textContent = '';
                textField.style.color = 'green';
            } else {
                textField.textContent = '*Số tiền thu là một số dương, vui lòng nhập lại';
                textField.style.color = 'red';
                $('#submit').attr('disabled', true);
            }
        }
        else {
            textField.textContent = '*Vui lòng nhập Số Tiền thu';
            textField.style.color = 'red';
        }
    }
    //function để disable/able button submit
    $(function () {
        $('#submit').attr('disabled', true);
        $('#SoPhieuDKHP, #SoTienThu').change(function () {
            if ($('#SoPhieuDKHP').val() != '') {
                if ($('#SoTienThu').val() > 0) {
                    $('#submit').attr('disabled', false);
                } else {
                    $('#submit').attr('disabled', true);
                }
            } else {
                $('#submit').attr('disabled', true);
            }
        });
    });
   
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (ViewBag.code == 2)
{
    <script type="text/javascript">
        swal({
            icon: 'error',
            title: 'Không thể tạo',
            text: 'Vì sô tiền thu lớn hơn số tiền sinh viên còn nợ !!!',
        })
    </script>
}

@if (ViewBag.code == 1)
{
    <script type="text/javascript">
        swal({
            icon: 'error',
            title: 'Không thể lập phiếu thu',
            text: 'Thông tin nhập không chính xác, vui lòng kiểm tra lại !!!',
        })
    </script>
}
<script> //funtion de tu dong hien so tien con lai cho phieu thu
    $(function () {
        $("#SoPhieuDKHP").change(function () {
            var selected = $('#SoPhieuDKHP').val();
            if (selected != "") {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSelectedSoPhieuDKHP")',
                    dataType: 'json',
                    data: { id: $("#SoPhieuDKHP").val() },
                    success: function (selectedSoTienConLai) {
                        document.getElementById("HoTen").value = selectedSoTienConLai['Item1'];
                        document.getElementById("MSSV").value = selectedSoTienConLai['Item2'];
                        document.getElementById("SoTienConLai").value = selectedSoTienConLai['Item3'];
                        document.getElementById("HKNH").value = selectedSoTienConLai['Item4'] ;
                    },
                    error: function (ex) {
                        alert('Tải thông tin thất bại.' + ex);
                    }
                });
            }
            else
                document.getElementById("SoTienConLai").value ="";
        })
    })
    </script>