@model QLDKMH_CNPM.Models.PHIEUTHU

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h3 class="text-left text-danger controllerStyle">XÓA THÔNG TIN PHIẾU THU</h3>
<hr />

<div class="generalStyle" style="font-weight:100;">
    <table class="table" style="width: 100%;">
        <tbody>
            <tr style="color: white; background-color: #4e73df;">
                <th>Số phiếu thu</th>
                <td>@Html.DisplayFor(model => model.SoPhieuThu)</td>
            </tr>

            <tr class="bg-light" style="color:black;">
                <th>Số Phiếu DKHP</th>
                <td>@Html.DisplayFor(model => model.SoPhieuDKHP)</td>
            </tr>

            <tr style="color: white; background-color: #4e73df;">
                <th>Ngày lập</th>
                <td>@Html.DisplayFor(model => model.NgayLap)</td>
            </tr>

            <tr class="bg-light" style="color:black;">
                <th>Số tiền thu</th>
                <td>@Html.DisplayFor(model => model.SoTienThu) </td>
            </tr>
        </tbody>
    </table>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <h6 class="text-left text-danger controllerStyle">Bạn có thực sự muốn xóa thông tin phiếu thu học phí này?</h6>
            <input type="submit" value="Xóa" class="btn btn-danger btnStyle" />
            @Html.ActionLink("Quay lại", "Index", new { id = Model.SoPhieuThu }, new { @class = "btn btn-primary btnStyle" })
        </div>
    }
</div>
