@model QLDKMH_CNPM.Models.PHIEUTHU

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h3 class="text-left text-danger controllerStyle">THÔNG TIN PHIẾU THU</h3>

<hr />
<div class="generalStyle" style="font-weight:100;">
    <table class="table" style="width: 100%;">
        <tbody>
            <tr style="color: white; background-color: #4e73df">
                <th>Số phiếu thu</th>
                <td>@Html.DisplayFor(model => model.SoPhieuDKHP)</td>
            </tr>

            <tr class="bg-light" style="color:black;">
                <th>Số phiếu đăng ký</th>
                <td>@Html.DisplayFor(model => model.SoPhieuDKHP)</td>
            </tr>

            <tr style="color: white; background-color: #4e73df;">
                <th>Ngày lập</th>
                <td>@Html.DisplayFor(model => model.NgayLap.Day)/@Html.DisplayFor(model => model.NgayLap.Month)/@Html.DisplayFor(model => model.NgayLap.Year)</td>
            </tr>

            <tr class="bg-light" style="color:black;">
                <th>Số tiền thu (VNĐ)</th>
                <td>@Html.DisplayFor(model => model.SoTienThu) </td>
            </tr>
        </tbody>
    </table>
    <hr />
    @Html.ActionLink("Sửa", "Edit", new { id = Model.SoPhieuThu }, new { @class = "btn btn-danger btnStyle" })
    @Html.ActionLink("Quay lại", "Index", new { id = Model.SoPhieuThu }, new { @class = "btn btn-primary btnStyle" })
</div>
