@model IEnumerable<QLDKMH_CNPM.Models.PHIEUTHU>

@{ ViewBag.Title = "Index";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml"; }
<link href="~/Assets/css/UploadFile.css" rel="stylesheet" type="text/css" />

<!--Page Heading-->
<h3 class="mb-1 text-danger controllerStyle">DANH SÁCH PHIẾU THU</h3>
<hr class="mb-0" />

@using (Html.BeginForm("Upload", "PHIEUTHUs", "Index", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <a class="generalStyle" style="color:black"><strong>Tải lên file Excel danh sách phiếu thu </strong></a>
    <a class="form-group">
        <div class="upload">
            <input type="button" class="uploadButton btnStyle generalStyle" value="Chọn đường dẫn" />
            <input type="file" name="UploadedFile" accept="/.xls, .xlsx" id="fileUpload" />
            <label class="fileName" style="width:auto; ">Đường dẫn file Excel...</label>
        </div>
        <input type="submit" name="Submit" class="btn btn-primary btnStyle generalStyle" value="Tải lên" />
    </a>
}
<!--DataTable Showing-->
<div class="bg-light card generalStyle">
    <div class="py-2 m-0">
        <span>
            @Html.ActionLink("Thêm mới phiếu thu", "Create", null, new { @class = "btn btn-primary btnStyle" })
        </span>
    </div>
    <div>
        <div id="dataTable_wrapper" class="dataTables_wrapper pre-scrollable card-body m-1 p-1" style="background-color: white">
            <div>
                <div id="dataTable_wrapper" class="dataTables_wrapper">
                    <table class="table table-bordered dataTable dataStyle" id="dataTable">
                        <thead>
                            <tr>
                                <th width="15%">Số phiếu thu</th>
                                <th width="20%">Số phiếu đăng ký</th>
                                <th width="26%">Ngày lập phiếu</th>
                                <th width="25%">Số tiền thu (VNĐ)</th>
                                <th style="text-align:center; width: fit-content">Thao tác</th>
                            </tr>
                        </thead>
                        <!--This is for footer line-->
                        <tfoot>
                            <tr>
                                <th>Số phiếu thu</th>
                                <th>Số phiếu đăng ký</th>
                                <th>Ngày lập phiếu</th>
                                <th>Số tiền thu (VNĐ)</th>
                                <th></th>
                            </tr>
                        </tfoot>

                        @foreach (var item in Model)
                        {
            <tr>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.SoPhieuThu)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.SoPhieuDKHP)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.NgayLap.Day)/@Html.DisplayFor(modelItem => item.NgayLap.Month)/@Html.DisplayFor(modelItem => item.NgayLap.Year)
                </td>
                <td style="vertical-align:middle;">
                    @Html.DisplayFor(modelItem => item.SoTienThu)
                </td>
                <td>
                    <!--EFFECT 1: line with blue-->
                    <div class="container">
                        <div class="dropdown nav-item">
                            <button type="button" class="btn btn-outline-danger dropdown-toggle alert-primary" style="font-weight: 500; font-size: small;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Tùy chọn
                            </button>
                            <div class="dropdown-menu" style="text-align:center" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Details", "PHIEUTHUs", new { id = item.SoPhieuThu})">Xem thông tin</a>
                               @*<a class="dropdown-item" href="@Url.Action("Edit", "PHIEUTHUs", new { id = item.SoPhieuThu})">Sửa thông tin</a>*@
                                <a class="dropdown-item" href="@Url.Action("Delete", "PHIEUTHUs", new { id = item.SoPhieuThu})">Xóa thông tin</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Js để hỗ trợ upload file Excel*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $('input[type=file]').change(function (e) {
        $in = $(this);
        $in.next().html($in.val());

    });
    $('.uploadButton').click(function () {
        var fileName = $(".UploadedFile").val();
        if (fileName) {
            alert(fileName + " có thể tải lên.");
        }
        else {
            alert("Vui lòng chọn file Excel để tải lên");
        }
    });
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (ViewBag.code == 1)
{
<script type="text/javascript">
    swal({
        icon: 'error',
        title: 'Không thể sửa',
        text: 'Không thể sửa phiếu thu học phí này vì đã quá thời hạn đóng học phí !!!',
    })
</script>}

@if (ViewBag.code == 10)
{
<script type="text/javascript">
    swal("Đã thêm phiếu thu học phí thành công", "", "success");
</script>}
@if (ViewBag.code == 11)
{
<script type="text/javascript">
    swal("Đã xóa phiếu thu học phí thành công", "", "success");
</script>}
@if (ViewBag.code == 12)
{
<script type="text/javascript">
    swal("Đã sửa thông tin phiếu thu học phí thành công", "", "success");
</script>}