@model QLDKMH_CNPM.Models.NHOMNGUOIDUNG

@{ ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml"; }

<h3 class="text-left text-danger controllerStyle">SỬA THÔNG TIN NHÓM NGƯỜI DÙNG</h3>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal generalStyle" style="color: black;">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaNhom)
    <hr />

    <div class="form-group">
        <div class="control-label">
            Tên nhóm người dùng
            @Html.EditorFor(model => model.TenNhom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenNhom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="submit" value="Lưu" class="btn btn-danger btnStyle" />
            <span>
                @Html.ActionLink("Hủy", "Index", new { id = Model.MaNhom }, new { @class = "btn btn-primary btnStyle" })
            </span>
        </div>
    </div>
</div>           
}
