@model IEnumerable<QLDKMH_CNPM.Models.DS_MONHOC_MO>
@{ 
    ViewBag.Title = "Index";
   Layout = "~/Areas/SV/Views/Shared/SVLayout.cshtml"; 
}

<h3 class="mb-1 text-danger controllerStyle">DANH SÁCH MÔN HỌC MỞ</h3>
<h4 class="text-danger controllerStyle">
    Học kỳ: @ViewBag.HocKy | Năm học: @ViewBag.Nam1 - @ViewBag.Nam2
</h4>
<hr/>
<div class="bg-light card generalStyle">
    <div id="dataTable_wrapper" class="dataTables_wrapper pre-scrollable card-body m-1 p-1 " style="background-color: white;">
        <div>
            <div id="dataTable_wrapper">
                <table class="table table-bordered dataStyle" id="dataTable">
                    <thead>
                        <tr>
                            <th width="30%">Mã mở</th>
                            <th width="30%">Mã môn học</th>
                            <th width="40%">Tên môn học</th>
                            @*<th style="width:50px;">Thao tác</th>*@
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaMo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaMonHoc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MONHOC.TenMonHoc)
                            </td>
                                @*<td>
                                            EFFECT 1: line with blue
                                            <div class="container">
                                                <div class="dropdown nav-item">
                                                    <button type="button" class="btn btn-outline-danger dropdown-toggle alert-primary" style="font-weight:500; font-size:small;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        Tùy chọn
                                                    </button>
                                                    <div class="dropdown-menu" style="text-align:center" aria-labelledby="navbarDropdownMenuLink">
                                                        <a class="dropdown-item" href="@Url.Action("Details", "DS_MONHOC_MO", new { id = item.MaMo})">Xem thông tin</a>
                                                        <a class="dropdown-item" href="@Url.Action("Edit", "DS_MONHOC_MO", new { id = item.MaMo})">Sửa thông tin</a>
                                                        <a class="dropdown-item" href="@Url.Action("Delete", "DS_MONHOC_MO", new { id = item.MaMo})">Xóa thông tin</a>
                                                    </div>
                                                </div>
                                            </div>
                                </td>*@
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>
            <a class="btn btn-primary btnStyle" href="@Url.Action("ListHK", "DS_MONHOC_MO", new { area = "SV", id = ViewData["TenDangNhap"] })">Quay lại</a>
        </div>
    </div>
</div>