@model IEnumerable<QLDKMH_CNPM.Models.CT_PHIEU_DKHP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DS_MONHOC_MO.MaMonHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHIEU_DKHP.MaSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DS_MONHOC_MO.MaMonHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHIEU_DKHP.MaSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
