@model QLDKMH_CNPM.Models.LOAIMONHOC

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h3 class="text-left text-danger controllerStyle">THÊM LOẠI MÔN HỌC MỚI</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal generalStyle" style="color: black;">
        <hr />
        <div class="form-group">
            <div class="control-label">Mã môn học</div>
            <div>
                @Html.EditorFor(model => model.MaLoaiMon, new { htmlAttributes = new { @maxlength = "2", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaLoaiMon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label">Tên loại môn học</div>
            <div>
                @Html.EditorFor(model => model.TenLoaiMon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenLoaiMon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label">Số tiết một tín chỉ</div>
            <div>
                @Html.EditorFor(model => model.HeSoChia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HeSoChia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label">Số tiền một tín chỉ</div>
            <div>
                @Html.EditorFor(model => model.SoTienMotTinChi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoTienMotTinChi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Thêm mới" class="btn btn-primary btnStyle" />
                @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary btnStyle" })
            </div>
        </div>
    </div>
}
