@model QLDKMH_CNPM.Models.DS_MONHOC_MO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h3 class="text-left text-danger controllerStyle">XÓA MÔN HỌC KHỎI DANH SÁCH MÔN HỌC MỞ</h3>
<hr />
<div class="generalStyle" style="font-weight:100;">
    <table class="table" style="width: 100%;">
        <tbody>
            <tr style="color:white; background-color:#4e73df;">
                <th>Học kỳ - năm học</th>
                <td>Học kỳ: @Html.DisplayFor(model => model.HKNH.HocKy); Năm học: @Html.DisplayFor(model => model.HKNH.Nam1) - @Html.DisplayFor(model => model.HKNH.Nam2)</td>
            </tr>
            <tr class="bg-light" style="color:black;">
                <th>Mã môn học</th>
                <td>@Html.DisplayFor(model => model.MaMonHoc)</td>
            </tr>

            <tr style="color:white; background-color:#4e73df;">
                <th>Tên môn học</th>
                <td>@Html.DisplayFor(model => model.MONHOC.TenMonHoc)</td>
            </tr>

            <tr class="bg-light" style="color:black;">
                <th>Loại môn học</th>
                <td>@Html.DisplayFor(model => model.MONHOC.LOAIMONHOC.TenLoaiMon)</td>
            </tr>

            <tr style="color:white; background-color:#4e73df;">
                <th>Số tiết</th>
                <td>@Html.DisplayFor(model => model.MONHOC.SoTiet)</td>
            </tr>

            <tr class="bg-light" style="color:black;">
                <th>Số tín chỉ</th>
                <td>@Html.DisplayFor(model => model.MONHOC.SoTinChi)</td>
            </tr>
        </tbody>
    </table>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <input type="submit" value="Xóa" class="btn btn-danger btnStyle" />
            <span>
                @Html.ActionLink("Quay lại", "Index", new { id = Model.MaHKNH }, new { @class = "btn btn-primary btnStyle" })
            </span>
        </div>
     }
</div>