@model QLDKMH_CNPM.Models.DS_MONHOC_MO

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h3 class="text-left text-danger controllerStyle">THÔNG TIN LỚP HỌC MỞ</h3>
<hr />
<div class="generalStyle" style="font-weight:100;">
    <table class="table" style="width: 100%;">
        <tbody>
            <tr style="color:white; background-color:#4e73df">
                <th>Học kỳ - năm học</th>
                <td>Học kỳ: @Html.DisplayFor(model => model.HKNH.HocKy); Năm học: @Html.DisplayFor(model => model.HKNH.Nam1) - @Html.DisplayFor(model => model.HKNH.Nam2)</td>
            </tr>

            <tr class="bg-light" style="color:black;">
                <th>Mã lớp học mở</th>
                <td>@Html.DisplayFor(model => model.MaMo)</td>
            </tr>

            <tr style="color:white; background-color:#4e73df">
                <th>Mã môn học</th>
                <td>@Html.DisplayFor(model => model.MONHOC.MaMonHoc)</td>
            </tr>

            <tr class="bg-light" style="color:black;">
                <th>Tên môn học</th>
                <td>@Html.DisplayFor(model => model.MONHOC.TenMonHoc)</td>
            </tr>

            <tr style="color:white; background-color:#4e73df">
                <th>Loại môn học</th>
                <td>@Html.DisplayFor(model => model.MONHOC.LOAIMONHOC.TenLoaiMon)</td>
            </tr>

            <tr class="bg-light" style="color:black;">
                <th>Số tiết</th>
                <td>@Html.DisplayFor(model => model.MONHOC.SoTiet)</td>
            </tr>

            <tr style="color:white; background-color:#4e73df">
                <th>Số tín chỉ</th>
                <td>@Html.DisplayFor(model => model.MONHOC.SoTinChi)</td>
            </tr>
        </tbody>
    </table>
    <hr />
    @*@Html.ActionLink("Sửa", "Edit", new { id = Model.MaMo }, new { @class = "btn btn-danger btnStyle" })*@
    @Html.ActionLink("Quay lại", "Index", new { id = Model.MaHKNH }, new { @class = "btn btn-primary btnStyle" })
</div>