@model QLDKMH_CNPM.Models.HUYEN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HUYEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TINH.TenTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINH.TenTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenHuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VungSauVungXa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VungSauVungXa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
