@model IEnumerable<QLDKMH_CNPM.Models.HUYEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TINH.TenTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHuyen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VungSauVungXa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TINH.TenTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenHuyen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VungSauVungXa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHuyen }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHuyen }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHuyen })
        </td>
    </tr>
}

</table>
