@model QLDKMH_CNPM.Models.DS_MONHOC_MO

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DS_MONHOC_MO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HKNH.MaHKNH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HKNH.MaHKNH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONHOC.TenMonHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONHOC.TenMonHoc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaMo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
