@model QLDKMH_CNPM.Models.NGANH

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}
<h3 class="text-left text-danger Controllerfont">SỬA THÔNG TIN NGÀNH</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal generalFont" style="color: black;">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaNganh)
    <hr />
    <div class="form-group">
        <div class="control-label">Tên ngành</div>
        <div>
            @Html.EditorFor(model => model.TenNganh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenNganh, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">Mã khoa</div>
        <div>
            @Html.EditorFor(model => model.MaKhoa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaKhoa, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">Tên khoa</div>
        <div>
            @Html.EditorFor(model => model.KHOA.TenKhoa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.KHOA.TenKhoa, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />
    <div class="form-group">
        <div>
            <input type="submit" value="Lưu" class="btn btn-danger" />
            <span>
                @Html.ActionLink("Quay lại", "Index", new { id = Model.MaNganh }, new { @class = "btn btn-primary" })
            </span>
        </div>
    </div>
</div>
}

