@model QLDKMH_CNPM.Models.LOAIMONHOC

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LOAIMONHOC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoaiMon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiMon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeSoChia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeSoChia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTienMotTinChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTienMotTinChi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLoaiMon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
