@model IEnumerable<QLDKMH_CNPM.Models.LOAIMONHOC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PDT/Views/Shared/PDTLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiMon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeSoChia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTienMotTinChi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiMon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeSoChia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoTienMotTinChi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaLoaiMon }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaLoaiMon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaLoaiMon })
        </td>
    </tr>
}

</table>
